.page {
    background-color: #21262d;
  }
  .page__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 320px) {
    .page{
      width: 320px;
    }
    
  }