.events-page{
    font-family: "Lato", "Open Sans", sans-serif;
    margin: 0 40px 12px;
}
.events-page__title{
    color: #ecf2f8;
}
.events-page__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 0;
}

.events-page__links{
    text-decoration: none;
    color: #ecf2f8;
}
.events-page__links:hover{
    color: #faa356;
}