.pokemon__list{
    display: flex;
    list-style: none;
    gap: 12px;
    flex-wrap: wrap;
    margin: 16px auto;
    padding: 0;
    justify-content: center;
}
.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
    font-family: "Lato", "Open Sans", sans-serif;
}

.event__title{
    color: #ecf2f8;
    text-align: center;
}
.event__img{
    height: 100%;
    width: 768px;
}

.events__heading{
    color: #ecf2f8;
}
.event__copy-container{
    display: flex;
    gap: 12px;
    justify-content: center;
}

.events__string{
    background-color: #ecf2f8;
    color: #0d1117;
}

@media (max-width: 768px) {
    .event__img{
        min-height: 48vw;
        max-width: 100%;
    }
}