.header{
    display: flex;
    flex-direction: row;
    height: 100px;
    background: #0d1117;
    color: #ecf2f8;
    align-items: center;
    font-family: "Lato", "Open Sans", sans-serif;
    padding: 0px 40px;

}
.header__logo{
    width: 64px;
    height: 64px;
    margin-right: 12px;
}

.header__container{
    display: flex;
    gap: 24px;
    list-style-type: none;
    align-items: center;
    margin-left: auto;
}

.header__link{
    text-decoration: none;
    color: #ecf2f8;
}
.header__link:hover{
    color: #faa356;
}