.pkmn-card{
    width: 200px;
    height: 200px;
    background-color: #ecf2f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.pkmn-card__name{
    margin: 0;
    padding: 0;
    text-align: center;
}
.pkmn-card__sprite{
    margin: 0;
    padding: 0;
    max-width: 140px;
    max-height: 140px;
    object-fit: cover;
}